#video-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 /* video{
    height: 300px;
    width: 400px;
    object-fit: cover;
    border: 4px solid rgb(98,100,167);
    margin: 2px;
 }

 video:hover{
    
 } */

 .meet-prejoin-video{
    height: 300px;
    width: 400px;
    object-fit: cover;
    border: 4px solid rgb(98,100,167);
 }

 @media only screen and (max-width: 600px) {
    .meet-prejoin-video{
        height: auto;
        width: 100%;
     }
  }

.meet {
    height: 100vh;
    display: flex;
    position:absolute;
    top:0px;
    right: 0px;
    bottom: 0px;
    left: -12px;
}

.meet-left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
}

.meet-right {
    flex: 0.2
}

.meet-videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.meet-right {
    background-color: black;
    border-left: 1px solid #3D3D42;
}

.meet-bottom {
    color: #D2D2D2;
    display: flex;
    justify-content: center;
    min-height: 50px;
    position: fixed;
    top: 90vh;
    left: 50vh;
}

.meet-bottom-block {
    display: flex;
    border-radius: 2rem;
    background-color: #1C1E20;
}

.meet-bottom-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    cursor: pointer;
}

.meet-bottom-button:hover {
    
}

.meet-right {
    display: flex;
    flex-direction: column;
}

.meet-header {
    padding-top: 5px;
    color: white;
    text-align: center;
}

.meet-chat-window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages{
    color: white;
    list-style: none;
}

.meet-message-container {
    padding: 22px 12px;
    display: flex;
}

.meet-message-container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

.meet-dropdown-item:hover{
    cursor: pointer;
}

.leave-meeting {
    color: #EB534B;
}

.unmute, .stop {
    color: #CC3B33;
}

.icon{
    margin: 10px !important;
}

.meet-icon{
    font-size: 1.8em !important;
}

.meet-icon:hover{
    color: rgb(98,100,167)
}

.custom-phone:hover{
    color: red;
}